.title {
  font-weight: lighter;
  letter-spacing: 0.13rem;
  color: var(--primary-color);
}
.title--normal {
  font-size: 3rem;
  padding-block-end: 1rem;
  border-block-end: .1rem solid var(--primary-color);
}
.title--dark-mode {
  color: var(--dark-primary-color);
  border-block-end: .1rem solid var(--dark-primary-color);
}
.title--biggest {
  font-size: 4rem;
  font-weight: normal;
  border: none;
}