.links-container {
  display: flex;
  flex-flow: column wrap;
  row-gap: 2rem;
}
.links {
  color: var(--links-color);
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: 0.08rem;
  width: 20%;
}
.links:hover {
  color: var(--primary-color);
}
.links--dark-mode:hover {
  color: var(--dark-primary-color);
}