.header {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  row-gap: 2rem;
  justify-content: space-around;
  align-items: center;
  padding-block-start: 6rem;
}

@media (min-width: 640px) {
  .header {
    height: auto;
  }
}
@media (min-width: 1024px) {
  .header {
    display: absolute;
  }
}