:root {
  --primary-color: #282c34;
  --dark-primary-color: #fff;
  --secondary-color: #bfbfbf;
  --links-color: #b7b7b7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
