.toggle-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 4rem;
  width: 100%;
  border-block-end: .1rem solid var(--primary-color);

  transition: 200ms;
}
.toggle-button--dark-mode {
  color: var(--dark-primary-color);
  border-block-end: .1rem solid var(--dark-primary-color);
}